@import 'tailwindcss';

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --header-height: 4rem;

  --color-primary: #1e3a8a;
  --color-primary-hover: #062f54;
  --color-secondary: #ea437a;
  --color-secondary-hover: #d32f67;

  --color-error: #dc2626;
  --color-muted: #cbd5e1;
  --color-placeholder: #0a0a0a;

  --font-sans: var(--font-geist-sans, ui-sans-serif, system-ui);
  --font-mono: var(--font-geist-mono, ui-monospace, SFMono-Regular);

  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px - base */
  --font-size-lg: 2rem; /* 20px */

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --radius-md: 8px;

  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);

  --transition: background-color 0.7s ease-in-out;

  --transition-transform: transform 0.7s ease-in-out;

  --button-size: 40px;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f9fafb;

  --color-primary: #ea437a;
  --color-primary-hover: #d32f67;
  --color-secondary: #1e3a8a;
  --color-secondary-hover: #062f54;
}

@media print {
  header {
    display: none !important;
  }
}
